:root {
    --font-principal-nav: 'Inter', sans-serif;



    /*cores*/
    --cor-font-nav: #667085;
    --cor-bg-principal: #FFFFFF;
    --cor-bg-botao-cadastar: #8E2424;
    --cor-font-titulos: #8e2424;
    --cor-font-titulos-transparencia: #8e24240d;
    --cor-font-subtitulos: #101828;

}

body {
    font-family: var(--font-principal-nav);
    color: var(--cor-font-nav);
    font-weight: 500;
}


/*Header Nav*/
.containerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 18px 0;
    
}

.containerNav__lista {
    display: flex;
    gap: 2rem; 
    font-size: 16px;
}

.containerNav__lista__item-link {
    text-decoration: none; 
    color: var(--cor-font-nav);
}

.containerButtonNav__entrar {
    background: var(--cor-bg-principal);
    border: none;
    color: var(--cor-font-nav);
    margin: 18px 3px;
    padding: 10px 18px;
    font-size: 16px;
    font-family: var(--font-principal-nav);
}

.containerButtonNav__cadastrar {
    background: var(--cor-bg-botao-cadastar);
    color: var(--cor-bg-principal);
    border-radius: 10px;
    padding: 10px 18px;
    margin: 18px 3px;
    border: none;
    font-size: 16px;
    font-family: var(--font-principal-nav);
}

/*Header Sobre nós*/

.sobreNos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 96px;
}

.sobreNos__titulo {
    color: var(--cor-font-titulos);
    font-weight: 600;
}

.sobreNos__subtitulo {
    color: var(--cor-font-subtitulos);
    font-weight: 600;
    font-size: 3em;
}

.sobreNos__conteudo {
    font-weight: 400;
    font-size: 1.5em;
    max-width: 85%;
    text-align: center;
}


/*section view */

.conteiner__view {
    width: 90vw;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0 32px;
    
}

.container__view-controle {
    width: 280px;
    margin-bottom: 96px;
}

.controle-item {
    display: flex;
    flex-direction: column;
    
}

.controle__item__titulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--cor-bg-botao-cadastar);
}

.controle__item__subtitulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-font-subtitulos);
}

.controle__item__conteudo {
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-font-nav);
}


/*vagas*/

.container__vagas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vagas-titulo {
    font-size: 14 px;
    font-weight: 500;
    color: var(--cor-bg-botao-cadastar);
    background-color: var(--cor-font-titulos-transparencia);
    border-radius: 16px;
    padding: 4px 12px ;
    margin: 16px;
}

.vagas-subtitulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--cor-font-subtitulos);
    margin-bottom: 20px;
}

.vagas-conteudo {
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-font-nav);
    margin-bottom: 64px;
}

.vagas-imagem {
    margin-bottom: 64px;
}

/*vagas*/
.vagas__disponiveis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.vagas-titulos {
    margin-left: 11%;
    align-self: flex-start;
    font-size: 20px;
    font-weight: 500;
    color: var(--cor-font-subtitulos);
}

.vaga-caixa {
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 24px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titulo-vaga {
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-font-subtitulos);
}

.informacoes {
    
}

.informacoes span {
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-font-nav);
    padding-right: 1.5em;
}